		 * { margin: 0; 
		 	padding: 0; 
		 	box-sizing: border-box; 
		 }
		 body { 
		 	font: 13px;
		 }
		 form { 
		 	background: rgb(62, 63, 58); 
		 	padding: 5px; 
		 	position: fixed; 
		 	bottom: 0; 
		 	width: 100%;
		 }
		 form input { 
		 	border: 1px solid transparent; 
		 	border-radius:4px; 
		 	padding: 10px; 
		 	width: 80%; 
		 	margin-right: .5%;
		 }

		 #messages { 
		 	list-style-type: none; 
		 	margin: 0; 
		 	padding: 0;  
		 	height: 70vh; 
		 	overflow:hidden;
		 	float:left;
		 	width:80%;
		 }

		 #people_online{
		 	float:right;
		 	width:20%;
		 	background-color: rgb(62, 63, 58); 
		 	height:70vh;
		 	color:white;
		 	padding:1%;
		 	border-radius:4px;
		 	 text-overflow: ellipsis;
		 }

		 #people_online li {
		 	list-style-type: none;
		 	text-overflow: ellipsis;
		 	width:85%;
		 	overflow:hidden;

		 }

		 #people_online li:hover{
		 	text-shadow:1px 1px 1px rgba(0,0,0,0.9);
		 	cursor:pointer;
		 }

		 #people_online li:before{
		 	font-family: "FontAwesome";
		 	content:"\f111";
		 	color:rgb(147, 197, 75);
		 	text-shadow:1px 1px 1px rgba(0,0,0,0.1);
		 	position:relative;
		 	padding-right:5px;

		 }

		 #messages li { 
		 	padding: 5px 10px; 
		 	border-radius: 4px; 
		 	margin-left:4px;
		 	margin-right:4px;

		 }
		 #messages li:nth-child(odd) { 
		 	background: rgb(248, 245, 240); 
		 }

		 .logout{
		 	font-size:24px !important;
		 }

		 .send{
		 	text-shadow:1px 1px 1px rgba(0,0,0,0.8);
		 	font-size:14px !important;

		 }

		 form > button {
		 	line-height: inherit !important;
		 	vertical-align: middle;

		 	margin-left:4px;
		 }